<div class="col-md-12">
   <div class="row box">
       <div class="box-inner col-md-6 col-md-offset-3">
         <h1 class="title">拼拼网</h1>
         <p class="slogan">爱 拼 才 会 赢 ！
           <br>

           <br>
           拼拼   聘聘   品品   咯咯 咯咯
         </p>
         <p class="lead">
           <%= link_to '拼拼', jobs_path, class: 'btn btn-danger' %>
         </p>
       </div>
  </div>
</div>

 <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">关于我们：</h2>
          <p class="lead">拼拼网致力于帮助真正的人才找到最适合的公司、职位，我们同百家上市公司及发展强劲的公司合作，每个合作伙伴都是我们认真筛选和甄别的。<br>我们分为：<br>拼拼团队--优秀企业的入口，提供最优的职位，好公司来这里<br>聘聘团队--找到最好的你，闲人来这里<br>品品团队--为求职人员重新打造自己，展示最好的你<br>来吧，爱拼才会赢！<a target="_blank" href="/jobs">拼拼网，拼拼团队；注册后可上传职位信息</a>!</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">你不再孤独</h2>
          <p class="lead">我们有强大的指导团队，可以帮助你打造形象、编辑简历、培训面试技巧，打造强大的你！<a target="_blank" href="http://blog.niclin.tw">拼拼网，品品团队</a>! 咯咯 咯咯</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">最好的公司需要你成为他们的一员<br>找职位吧</h2>
          <p class="lead">展示自己<a target="_blank" href="https://forum.qzy.camp/">拼拼网，聘聘团队</a></p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info@pinpin.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
